.page--header--design-system {

}

.design-system--navigation,
.design-system--article {
	padding: spacing(5) 0;
	margin-bottom: 0 !important;
}

.design-system--navigation {
	border-top: 3px solid color("deep-purple");
}

.design-system--article {
	border-top: 3px solid color("gray-3");
}