.page--header {
	@include clearfix;

	@include media-query($media-type: print) {
		margin: 0;
		padding: 0 1cm;
		width:100%;
		height:99%;
		page-break-before: always;
		page-break-after: always;
		background: color("deep-purple");
		box-sizing: border-box;
	}
}

.page--focus-header {
	@include clearfix;
	background: color("deep-purple");
}

.page--divider {
	@include clearfix;

	@include media-query($media-type: print) {
		@include font($size: 60, $weight: bold);
		margin: 0;
		padding: 7cm 1cm 0;
		width:100%;
		height:99%;
		page-break-before: always;
		page-break-after: always;
		background: color("deep-purple");
		color: color("deep-purple");
		box-sizing: border-box;

		&:before {
			position: relative;
			display: block;

			top: -5cm;

			@include font($size: 36, $weight: bold);

			content: "Mentor Matching \A Online.";
			white-space:pre;

			color: color("deep-purple") !important;
		}
	}
}

.page--caption {
	@extend %caption-xl;

	@include media-query($media-type: print) {
		padding: 7cm 0 0;
		color: color("white");
		font-weight: bold;

		&:before {
			position: absolute;
			display: block;

			top: 2cm;

			content: "Mentor Matching \A Online.";
			white-space:pre;

			color: color("deep-purple") !important;
		}
	}

}

.page--heading {
	@extend %heading-xxl;
	@include responsive-margin(3, "top");
	@include responsive-margin(7, "bottom");
	max-width: 80%;

	@include media-query($media-type: print) {
		color: color("white");
		font-weight: bold;

		margin-top: 0;
		padding-top: 40%;
	}
}

.page--caption + .page--heading {

	@include media-query($media-type: print) {

		padding: 0;

	}

}

.page--excerpt {
	@extend %body-lg;
	@include responsive-margin(8, "bottom");

	@include media-query($media-type: print) {
		color: color("white");
		max-width: 40ch;
	}
}

.page--content {
	border-top: 3px solid color("gray-5");
	padding: spacing(5) 0;
}

.page--aside {
	border-top: 3px solid color("deep-purple");
	border-bottom: 3px solid color("deep-purple");
	padding: spacing(5) 0 spacing(2);
	
	@include media-query($media-type: print) {
		display: none;
	}
}