blockquote.warning-text {
	
	position: relative;
	@include font($size: 19);
	color: $text-color;
	padding: spacing(2) spacing(4) spacing(2) 0;
	// Margin top intended to collapse
	// This adds an additional 10px to the paragraph above
	@include responsive-margin(6, "top");
	@include responsive-margin(6, "bottom");
	@include responsive-padding(4, "right");
	@include responsive-padding(4, "left");
	@include responsive-padding(2, "top");
	@include responsive-padding(2, "bottom");
	
	border-left: $border-width-wide color("warning") solid;
	background: color("warning-light");
	
	> :first-child {
		margin-top: spacing(2);
	}

	> :only-child,
	> :last-child {
		margin-bottom: spacing(2);
	}
}